<h1>Create a new List</h1>

<%= form_for @list, html: { multipart: true } do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :image, "Upload Image" %>
  <%= form.file_field :image %>

  <%= form.submit %>
<% end %>
